.smart-env/*.ajson
.smart-env/**/*.ajson
.smart-env/multi/*.json
.smart-env/multi/*.ajson
.smart-env/*.json
.smart-env/**/*.json
.smart-connections/*.json
.smart-connections/**/*.json
.smart-connections/embeddings-*.json
.obsidian/plugins/text-extractor/cache/*.json
.tmp.driveupload/**
.tmp.drivedownload/**
.tmp.driveupload/139655
.tmp.driveupload/152901
.tmp.driveupload/151515
.tmp.driveupload/139655
.tmp.driveupload/152901
.tmp.driveupload/152901
MySecondBrain.md

## Operating System Files
# These are files created automatically by your OS.
# ---------------------------------------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignore Smart Connections folder
.smart-connections
